<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
    <style>
      [cloak] {
          display: none;
      }
    </style>
  </head>
  <body>

  <div class="container" id="app" v-cloak>
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps">
        <div class="steps-content">
          {{ showActiveText }}
        </div>
        <ul class="steps-list">
          <li class="steps-item"
              :class="{
                'done': index < activeIndex,
                'active': index === activeIndex
              }"
              v-for="(step, index) in steps"
              :key="index"
              @click="setActive(index)"
          >
            <span>{{ index + 1 }}</span> {{ step.title }}
          </li>
        </ul>
        <div v-if="!isAgainButton">
          <button class="btn" :disabled="backButton" @click="prev">{{ prevButtonTitle }}</button>
          <button class="btn primary" @click="nextOfFinish">{{ lastStepNextButton }}</button>
        </div>
        <div v-else>
          <button class="btn" @click="reset">{{ againButtonTitle }}</button>
        </div>
        <div class="danger" v-if="isBlockedMessage">
          <hr>
          {{ blockedMessage }}
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
